.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    /* width: 10%; */
    border: 3px solid rgb(0, 204, 255);
}

.main-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-details{
    display: flex;
    flex-direction: column;
}